<h1>Requirement #<%= @requirement.id %></h1>

<p>
  <b>Sf:</b>
  <%= @requirement.sf %>
</p>

<p>
  <b>Location:</b>
  <%= @requirement.location %>
</p>

<p>
  <b>Price:</b>
  <%= @requirement.price %>
</p>


