<h1>Picture #<%= @picture.id %></h1>

<p>
  <b>Caption:</b>
  <%= @picture.caption %>
</p>

<p>
  <b>Add pic:</b>
  <%= @picture.add_pic %>
</p>

<p>
  <b>Source:</b>
  <img src="<%= @picture.source %>">
</p>


